/* ! Adaptive markup is made until 375px. */

/* 1. General */
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Poppins', sans-serif;
}

/* 2. Header */
header {
  font-weight: bolder;
  font-size: 1.5em; 
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
}

header > div.logo {
  min-width: 10vw;
  text-align: center;
}

header > ul.burger-menu {
  width: 50%;
  display: flex;
}

header > * {
    margin-bottom: auto;
    margin-top: auto;
}

header > ul.burger-menu > li {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  text-align: center;
  padding: 0.5em 2em;
  border-radius: 2em;
  transition: all 0.3s ease 0s;
}

header > ul.burger-menu > li:hover {
  background-color: rgba(255,87,87,255);
  cursor: pointer;
}

header > ul.burger-menu > li:active {
  padding: 0.5em 1.5em;
}

header > div.burger {
  right: 0;
  position: absolute;
  margin-right: 5vw;
  cursor: pointer;
}

header > div.burger > div {
  display: none; 
  width: 25px;
  height: 5px;
  background-color: black;
  margin-top: 5px;
  margin-bottom: 5px;
}

header > ul.burger-menu > img.close-button {
  display: none;
  position: absolute;
  cursor: pointer;
  width: 30px;
  right: 5vw;
  top: 5vw;
  color: white;
}

@media (max-height: 400px) {
  header > ul.burger-menu {
    font-size: 1rem;
    overflow-y: scroll;
  }
}

@media (max-width: 1440px) {
  header {
    justify-content: end;
  }

  header > div.logo {
    display: none;
  }

  header > div.burger {
    position: static;
  }

  header > ul.burger-menu > li {
    position: relative;
    padding: 0.8em;
  }
  
  header > ul.burger-menu > li::after {
    content: "";
    position: absolute;
    background-color: white;
    height: 0.2em;
    width: 0;
    left: 0;
    bottom: 1px;
    transition: 0.3s;
  }
  
  header > ul.burger-menu > li:hover::after {
    width: 100%;
  }
  
  header > div.burger > div {
    display: block;
  }

  header > ul.burger-menu {
    top: -100%;
    height: 100vh;
    width: 100vw;
    position: fixed;
    justify-content: center;
    background: rgba(255,87,87,255);
    transition: top 1s ease 0s;
    flex-direction: column;
  }
  
  header > ul > li {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    color: white;
  }
}

@media (max-height: 600px) {
  header {
    min-height: 15vh;
  }
}

/* 3. Main */
main > section.about-me {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
}

main > section.about-me > * {
  margin-top: auto;
  margin-bottom: auto;
}

main > section.about-me > img {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
}

main > section.about-me > div.description {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 3vw;
}

main > section.about-me > div.description > p.name {
  font-size: 3rem;
  font-weight: bold;
}

main > section.about-me > div.description > p.info {
  font-size: 1.5rem;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

main > section.about-me > div.description > div.contacts > a {
  text-decoration: none;
  color: black;
}

main > section.about-me > div.description > div.contacts > a > i {
  font-size: 3.5rem;
  margin-top: 1rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

main > section.about-me > div.description > div.contacts > a > i:hover {
  color: rgba(255,87,87,255);
  cursor: pointer;
}

main > section.about-me > div.description > div.contacts > a > i:active {
  padding: 0.125em;
}

@media (max-width: 1440px) {
  main > section.about-me {
    width: 75vw;
  }

  main > section.about-me > div.description > p.name {
    font-size: 2.5rem;
  }

  main > section.about-me > div.description > p.info {
    font-size: 1.25rem;
  }
}

@media (max-width: 1220px) {
  main > section.about-me {
    width: 80vw;
  }
}

@media (max-width: 1024px) {
  main > section.about-me {
    flex-direction: column;
  }
  
  main > section.about-me > img {
    width: 40vw;
    height: 40vw;
    margin-left: auto;
    margin-right: auto;
  }

  main > section.about-me > div.description > * {
    text-align: center;
  }
}

@media (max-width: 768px) {
  main > section.about-me {
    width: 85vw;
  }

  main > section.about-me > img {
    width: 50vw;
    height: 50vw;
  }
  
  main > section.about-me > div.description > p.name {
    margin-top: 4vw;
  }

  main > section.about-me > div.description > p.info {
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
}

@media (max-width: 425px) {
  main > section.about-me {
    width: 90vw;
  }

  main > section.about-me > img {
    width: 80vw;
    height: 80vw;
  }

  main > section.about-me > div.description > p.name {
    font-size: 2.5em;
  }
}
